* {

    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;

}

.container {

    padding: 3%;
    display: grid;
    grid-template-columns: 8% repeat(2, 1fr) 1.5fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "logo . . result"
        ". input input result"
        ". warning warning result"
        ". encrypt decrypt result"
        "footer footer footer footer";
    column-gap: 2%;
    row-gap: 20px;

}

.container .logo {

    grid-area: logo;
    width: 25px;
    margin-left: 8%;

}

.container .input {

    grid-area: input;
    resize: none;
    border: none;
    outline: none;
    height: 450px;
    margin-top: 30px;

    color: #0A3871;
    ;

}

.container .input::placeholder {

    color: #0a387196;

}

.container .input::placeholder,
.container .input {

    font-size: 30px;

}



.container .result {

    grid-area: result;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    gap: 20px;
    box-shadow: 0px 0px 20px 3px rgb(197, 197, 197);

}

.container .result * {

    background-color: transparent;
    text-align: center;
    margin: 0 30px;

}

.container .result img {

    width: 80%;

}

.container .warning {

    grid-area: warning;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 13px;
    margin-bottom: -8px;
    color: rgb(67, 67, 67);

}

.container .warning span {

    margin-right: 7px;

}

.container .encrypt,
.container .decrypt {

    padding: 23px 40px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
    border: solid;
    border-width: 1px;
    border-color: #0A3871;

}

.container .encrypt {

    grid-area: encrypt;
    color: #D8DFE8;
    background-color: #0A3871;

}

.container .information {

    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #0A3871;
    border-radius: 20px;
    padding: 20px;

}

.container .information * {

    background-color: transparent;
    color: #D8DFE8;
    margin: 3px;

}

.container .information #socialLink {

    display: flex;
    align-items: center;
    margin: 0;
    text-decoration: none;

}

.container .information p a {

    text-decoration: none;

}

.container .information p {

    margin-bottom: 20px;

}

#icon {

    width: 30px;
    margin-right: 10px;

}

.container .decrypt {

    grid-area: decrypt;
    color: #0A3871;
    background-color: #D8DFE8;

}

@media screen and (max-width: 768px) {

    .container {

        padding: 7%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px repeat(5, auto);
        grid-template-areas:
            "logo ."
            "input input"
            "warning warning"
            "encrypt decrypt"
            "result result"
            "footer footer";

    }

    .container .result img {

        display: none;
    
    }

    .container .result {

        padding: 30px;
        margin-left: 0;
    
    }

}

@media screen and (max-width: 375px) {

    .container {

        padding: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: 70px repeat(6, auto);
        grid-template-areas:
            "logo"
            "input"
            "warning"
            "encrypt"
            "decrypt"
            "result"
            "footer";

    }

}