* {

    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;

}

.container {

    padding: 3%;
    display: grid;
    grid-template-columns: 8% repeat(2, 1fr) 35%;
    grid-template-rows: 70px auto 25px 80px auto;
    grid-template-areas:
        "logo . . result"
        ". input input result"
        ". warning warning result"
        ". encrypt decrypt result"
        "footer footer footer footer";
    column-gap: 2%;
    row-gap: 20px;

}

.container .logo {

    grid-area: logo;
    width: 25px;

}

.container .input {

    grid-area: input;
    resize: none;
    border: none;
    outline: none;
    height: 450px;
    color: #0A3871;

}

.container .input::placeholder {

    color: #0a387196;

}

.container .input::placeholder,
.container .input {

    font-size: 30px;

}

.container .result {

    grid-area: result;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    gap: 20px;
    box-shadow: 0px 0px 20px 3px rgb(197, 197, 197);

}

.container .result * {

    background-color: transparent;
    text-align: center;
    margin: 0 10%;

}

.container .result img {

    width: 80%;

}

.container .result .textResult {

    word-break: break-all;
    font-size: 25px;
    width: 80%;
    text-align: left;
    resize: none;
    border: none;
    outline: none;
    height: 530px;

}

.container .result .btnCopy {

    width: 80%;
    margin-top: 15px;

}

.container .decrypt,
.container .result .btnCopy {

    color: #0A3871;
    background-color: #D8DFE8;

}

.container .encrypt,
.container .decrypt,
.container .result .btnCopy {

    outline: none;
    padding: 23px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: #0A3871;
    cursor: pointer;

}

.container .result .copiarPresionado,
.container .encrypt {

    background-color: #0A3871;
    color: #D8DFE8;

}

/* editar la apariencia de la barra de scroll para hacerla menos invasiva y mas estetica*/
.container .result .textResult::-webkit-scrollbar,
.container .input::-webkit-scrollbar {
    width: 7px;
}

.container .result .textResult::-webkit-scrollbar-track,
.container .input::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.container .result .textResult::-webkit-scrollbar-thumb,
.container .input::-webkit-scrollbar-thumb {
    background: #888;
}

.container .result .textResult::-webkit-scrollbar-thumb:hover,
.container .input::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container .warning {

    grid-area: warning;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 13px;
    margin-bottom: -25px;
    color: rgb(67, 67, 67);

}

.container .warning span {

    margin-right: 7px;

}

.container .encrypt {

    grid-area: encrypt;

}

.container .decrypt {

    grid-area: decrypt;
    
}



.container .information {

    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #0A3871;
    border-radius: 20px;
    padding: 20px;

}

.container .information * {

    background-color: transparent;
    color: #D8DFE8;

}

.container .information ul *{

    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin: 3px 0;

}

.container .information p a {

    text-decoration: none;

}

.container .information p {

    margin-bottom: 20px;

}

.container .information ul li a:hover,
.container .information p a:hover {

    color: #bfc816;
    font-weight: 600;

}

#icon {

    width: 30px;

}

@media screen and (max-width: 768px) {

    .container {

        padding: 7%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 90px auto 25px 80px auto auto;
        grid-template-areas:
            "logo ."
            "input input"
            "warning warning"
            "encrypt decrypt"
            "result result"
            "footer footer";

    }

    .container .result img {

        display: none;

    }

    .container .result {

        margin-left: 0;
        padding: 35px;
        gap: 30px;
        justify-content: space-around;

    }

    .container .result .textResult,
    .container .result .btnCopy {

        margin: 0;
        width: 100%;

    }

    .container .result .textResult,
    .container .input {

        height: 300px;

    }

}

@media screen and (max-width: 375px) {

    .container {

        padding: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto 25px repeat(2, 80px) auto;
        grid-template-areas:
            "logo"
            "input"
            "warning"
            "encrypt"
            "decrypt"
            "result"
            "footer";

    }

}